
h1{
    font-size: 70px;
    text-align: center;
    margin-top: 30px;
    color:navajowhite;
}
ul{
    width: 90%;
    padding: 13px;
    margin: -50px auto 10px auto;
    border-top: 2px solid white;
    border-bottom: 1px solid white;
    text-align: center;
}
li {
    display: inline;
    font-size:30px;
    margin: 0px 40px;
    text-decoration:none;
}

a{
  color:whitesmoke;
  text-decoration:none; 
}

body {
    /* background-image: url("blue.jpg");
    height:100%;
    background-repeat: repeat;
    background-size: cover; */
    background-color: navy;
}


h2{
    text-align: center;
    color: white;
}
#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #DDF;
    color: #000;
}
#allboutme{
    display: flex;
    align-content: space-around;
}
#Eunice, #fiona, #Tracy, #Helen{
    border: solid 3px navajowhite;
    margin: 8px;
    text-align: center;
    width: 25%;
    color: rgb(186, 233, 252);
}
#blop{
    font-size: 40px;
    margin:0;
    color: paleturquoise
}
#fio, #tra, #eun, #hel{
    width:200px;
    height:200px;
}

.button {
    border-radius: 4px;
    background-color:blueviolet;
    border: none;
    color: rgb(149, 231, 236);
    text-align: center;
    /* font-size: 28px; */
    padding: 0;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }