
h1{
    font-size: 90px;
    text-align: center;
    margin-top: 0;
    color: white;

}
ul{
    width: 90%;
    padding: 9px;
    margin: -50px auto 10px auto;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    text-align: center;
}
li {
    display: inline;
    font-size:30px;
    margin: 0px 45px;
    text-decoration:none;
}

a{
  color:#eddcff;
  text-decoration:none; 
}



img{
        width: 400px;
        height: 400px;
}
#highlight, #pigment, #WWfound{
        border: solid 3px rgb(248, 198, 123);
        margin: 8px;
        text-align: center;
        width: 50%;
}
#WW, #Rev, #CP, #Glossier, #NYX, #covergirl, #Maybelline, #clinque{
    display: flex;
    align-content: space-around;
    text-align: center;
}
/* #firstbrand{
    font-size: 80px;
    margin:0px;
    text-align: center;
} */
#back2Top {
    width: 60px;
    line-height: 60px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: rgb(174, 179, 176);
    color: rgb(180, 255, 180);
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: rgb(228, 228, 250);
    color: #000;
}
#firstbrand{
    background-image: url("wetnwildback2.png");
    height:100%;
    background-repeat: repeat;
    background-size: cover;
    box-sizing: border-box;
    border: solid 3px rgb(255, 180, 136);
    margin: 8px;
    text-align: center;
    width: 98.5%;
}
#secondbrand{
    background-image: url("revlonback.png");
    height:100%;
    background-repeat: repeat;
    background-size: cover;
    box-sizing: border-box;
    border: solid 3px rgb(255, 0, 0);
    margin: 8px;
    text-align: center;
    width: 98.5%;
}
#thirdbrand{
    background-image: url("colourpop2.jpg");
    height:100%;
    background-repeat: repeat;
    background-size: cover;
    box-sizing: border-box;
    border: solid 3px rgb(255, 136, 201);
    margin: 8px;
    text-align: center;
    width: 98.5%;
}
#fourthbrand{
    background-image: url("glossierback.jpg");
    height:100%;
    background-repeat: repeat;
    background-size: cover;
    box-sizing: border-box;
    border: solid 3px rgb(255, 136, 201);
    margin: 8px;
    text-align: center;
    width: 98.5%;
} 
#fifthbrand {
    background-image: url("NYXback2.jpg");
    height:100%;
    background-repeat: repeat;
    background-size: cover;
    box-sizing: border-box;
    border: solid 3px rgb(129, 129, 129);
    margin: 8px;
    text-align: center;
    width: 98.5%;
}
#sixthbrand{
    background-image: url("covergirlback.jpg");
    height:100%;
    background-repeat: repeat;
    background-size: cover;
    box-sizing: border-box;
    border: solid 3px rgb(136, 188, 255);
    margin: 8px;
    text-align: center;
    width: 98.5%;
}
#seventhbrand{
    background-image: url("Maybellineback.jpg");
    height:100%;
    background-repeat: repeat;
    background-size: cover;
    box-sizing: border-box;
    border: solid 3px rgb(201, 136, 255);
    margin: 8px;
    text-align: center;
    width: 98.5%;
}
#eigthbrand{
    background-image: url("cliniqueback.svg");
    height:100%;
    background-repeat: repeat;
    background-size: cover;
    box-sizing: border-box;
    border: solid 3px rgb(136, 255, 172);
    margin: 8px;
    text-align: center;
    width: 98.5%;
}

#Rfoundation{
    width: 200px;
    height: 400px;
}
#RevLiptint, #Rfound{
    border: solid 3px rgb(255, 136, 136);
    margin: 8px;
    text-align: center;
    width: 50%;
}
#bigmas{
    width: 300px;
    height: 400px;
}
#remover{
    width:300px; 
    height: 400px;
}
#eyegel{
    width:350px; 
    height: 400px;
}
#maylogo, #cplogo, #glogo, #NYXlogo, #cglogo, #clogo{
    width: 700px;
    height: 200px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 70px;
    margin-bottom: 30px;
}
#WWlogo{
    width: 700px;
    height: 200px;
    margin-left: 50px;
    margin-right: 50px;
}
#revlogo{
    width: 700px;
    height: 200px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
}
#fourthbrand {
    background-image: url("glossierback.jpg");
    height:100%;
    background-repeat: repeat;
    background-size: cover;
    box-sizing: border-box;
    border: solid 3px rgb(255, 136, 201);
    margin: 8px;
    text-align: center;
    width: 98.5%;
}
#revliner{
    border: solid 3px rgb(255, 136, 136);
    margin: 8px;
    text-align: center;
    width: 50%;
}
#CPeyeshaw, #cpsetpow ,#CPLIP{
    border: solid 3px rgb(136, 231, 255);
    margin: 8px;
    text-align: center;
    width: 50%;
}
#boyb, #highlightstick, #gblush{
    border: solid 3px rgb(255, 137, 196);
    margin: 8px;
    text-align: center;
    width: 50%;
}
#liquideyeshaw, #NYXeyeliner,#slip{
    border: solid 3px rgb(151, 151, 151);
    margin: 8px;
    text-align: center;
    width: 50%;
}
#litconc, #bigcurl, #lipcream{
    border: solid 3px rgb(136, 251, 255);
    margin: 8px;
    text-align: center;
    width: 50%;
}
#eyecheek, #makeupremover, #geleye{
    border: solid 3px rgb(221, 136, 255);
    margin: 8px;
    text-align: center;
    width: 50%;
}
#acne, #cheekpop, #moisture{
    border: solid 3px rgb(136, 255, 172);
    margin: 8px;
    text-align: center;
    width: 50%;
}
body{
    /* background-image: url("spark.png");
    height:100%;
    background-repeat: repeat;
    background-size: cover; */
    background-color: navy;
}

.mainHeader {
    font-family: ;
}
#poop{
    text-align: center;
    color: white;
}
<style>
.button {
  border-radius: 4px;
  background-color: transparent;
  border: none;
  color: transparent;
  text-align: center;
  /* font-size: 28px; */
  padding: 0;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}