/* .sidenav {
    height: 100%; 100% Full-height
    width: 0; 0 width - change this with JavaScript
    position: fixed; Stay in place
    z-index: 1; Stay on top
    top: 0; Stay at the top
    left: 0;
    background-color: rgb(99, 100, 192); Black
    overflow-x: hidden; Disable horizontal scroll
    padding-top: 60px; Place content 60px from the top
    transition: 0.5s; 0.5 second transition effect to slide in the sidenav
} 

/* The navigation menu links */
/* .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #b8b8b8;
    display: block;
    transition: 0.3s;
} */

/* When you mouse over the navigation links, change their color */
/* .sidenav a:hover {
    color: #e2b3f8;
} */

/* Position and style the close button (top right corner) */
/* .sidenav .closebtn { */
    /* position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
/* #main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/* @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}  */ 

#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #DDF;
    color: #000;
}

body {
    /* background: linear-gradient(rgb(0, 132, 255), skyblue, white, pink); */
    background-color: navy
}

h1{
    font-size: 70px;
    text-align: center;
    color:white;
    margin-bottom: 80px;
    margin-top: 50px;
}
ul {
    width: 90%;
    padding: 13px;
    margin: -50px auto 10px auto;
    border-top: 2px solid white;
    border-bottom: 1px solid white;
    text-align: center;
    margin-bottom: 30px;
}

li {
    display: inline;
    font-size:30px;
    margin: 0px 50px;
    text-decoration:none;
}

a{
  /* color:#00ff6a; */
  text-decoration:none; 
  color: white;
}

h2 {
    text-align: center;
    font-size: 80px;
    color: white;
    text-decoration: underline;
    margin-top:0;
}

#qwert{
    color: white;
}

#tyu {
    color: blue;
}

h3 {
    margin: 5px;
    text-align: center;
    font-size: 36;
    /* color: rgb(201, 151, 15); */
    color: white;
}


iframe {
    margin-top: 20px;
}

p{
    margin: 5px;
    text-align: center;
    font-size: 24;
}

#containerA, #containerB, #containerC, #containerD, #containerE {
    display: flex;
}

#minicontainerA, #minicontainerB, #minicontainerC, #minicontainerD, #minicontainerE, #minicontainerF, #minicontainerG, #minicontainerH, #minicontainerI, #minicontainerJ {
    text-align: center;
    flex: 1;
    border: 2px outset beige;
    border-radius: 50px;
    color: white;


}