h1{
    font-size: 70px;
    text-align: center;
    color: navajowhite;
}
ul {
    width: 90%;
    padding: 13px;
    margin: -50px auto 10px auto;
    border-top: 2px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    text-align: center;
}
li {
    display: inline;
    font-size:30px;
    margin: 0px 50px;
    text-decoration:none;
}
a{
  color:whitesmoke;
  text-decoration:none; 
}

#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #DDF;
    color: #000;
}
/* --------------------------------- */

body, html {
    /* width: 100%;
    background-image: url("sky1.jpg"); */
    background-color: navy;
}
/* ------------------------------------- */
#p1, #p2, #p3, #p4, #p5, #p6, #p7, #p8, #p9, #p10, #p11, #p12{
    width: 400px;
    height: 230px;
    float: left;
    margin: 12px;
    border-radius: 50%;
}

#minicontainerAL, #minicontainerBL, #minicontainerCL, #minicontainerDL, #minicontainerEL, #minicontainerFL, #minicontainerGL, #minicontainerHL {
    border: 6px solid whitesmoke;
    border-radius: 30px;
    flex: 1;
    text-align:center; 
    margin: 35px;
    margin-left: 65px;
    margin-right: 20px;
}
#minicontainerAR, #minicontainerBR, #minicontainerCR, #minicontainerDR, #minicontainerER, #minicontainerFR, #minicontainerGR, #minicontainerHR {
    border: 6px solid whitesmoke;
    border-radius: 30px;
    flex: 1;
    text-align:center; 
    margin: 35px;
    margin-left: 20px;
    margin-right: 65px;
}
#containerA, #containerB,#containerC, #containerD, #containerE, #containerF, #containerG, #containerH {
    display: flex;
    color: navajowhite
}
iframe{
    float: left;
    margin: 12px;
}
#subT{    
    text-align: center;
    /* float: left; */
    margin-top: 20px;
}
h4{
    text-align: justify;
    margin: 12px;
    margin-bottom: 8px;
    color: whitesmoke;
}
/* #discription{
    float: left;
} */
#webLink{
    float: right;
    margin-top: 12px;

