h1{
    font-size: 70px;
    text-align: center;
}
ul {
    width: 90%;
    padding: 13px;
    margin: -50px auto 10px auto;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    text-align: center;
}
li {
    display: inline;
    font-size:30px;
    margin: 0px 55px;
    text-decoration:none;
}
a{
  color:#007acc;
  text-decoration:none; 
}
/* --------------------------------- */
#p1{
    width: 30%;
    height: 30%;
}
#1{
    border: solid 3px black;
}
#p2{
    width: 30%;
    height: 30%;
}  