h1{
    font-size: 70px;
    text-align: center;
}
ul {
    width: 90%;
    padding: 13px;
    margin: -50px auto 10px auto;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    text-align: center;
}
li {
    display: inline;
    font-size:30px;
    margin: 0px 55px;
    text-decoration:none;
}
a{
  color:#007acc;
  text-decoration:none; 
}
/* --------------------------------- */

/* #subT{
    float: right;
} */

/* ------------------------------------- */
#p1, #p2, #p3, #p4, #p5, #p6, #p7, #p8, #p9, #p10, #p11, #p12{
    width: 50%;
    height: 50%;
}

#minicontainerA, #minicontainerB, #minicontainerC, #minicontainerD, #minicontainerE, #minicontainerF, #minicontainerG, #minicontainerH {
    border: 3px solid black;
    flex: 1;
    text-align:center; 
    margin: 35px;
    margin-left: 50px;
    margin-right: 50px;

}

#containerA, #containerB,#containerC, #containerD, #containerE, #containerF, #containerG, #containerH {
    display: flex;
}